@import "redVar";


body {
    font: 100% "Space Mono", monospace;
    color: rgb(252, 56, 56);
    margin: 0px;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.171);
     
    background-image: radial-gradient(#fff, rgba(255, 255, 255, 0.2) 2px, transparent 40px),
                        radial-gradient(#fff, rgba(255, 255, 255, 0.15) 1px, transparent 30px), 
                        radial-gradient(#fff, rgba(255, 255, 255, 0.1) 2px, transparent 40px), 
                        radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px,
                        transparent 30px);

    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    background-attachment: fixed
}
nav{
    text-align: center;

        a.l1{
            color: #fff;
            background-color: #3232db;
            text-decoration: none;
            text-transform: uppercase;
            border-radius: 5px;
            padding: 8px;
            display: inline-block;
        }
        a.l2{
            @extend .l1;
            background-color: #ee1d1d;
        }

}


article {
    display: flex;
    flex-wrap: wrap;

    section {
        flex-grow: 1;
        flex-basis: 45%;
        border: 1px  solid silver;
        @include boxShadow;
        padding: $p1;
        margin: $p1;
        clear: both;
        overflow: auto;
        box-sizing: border-box;

        &#selling-points {
            flex-grow: 2;
            flex-basis: 100%
        }
    }

    code {
        background: #000;
        border: 1px solid #ddd;
        color: #666;
        page-break-inside: avoid;
        font-family: monospace;
        font-size: 15px;
        line-height: 1.6;
        margin-bottom: 1.6em;
        max-width: 100%;
        overflow: auto;
        padding: 1em 1.5em;
        display: block;
        word-wrap: break-word;

        &.before {
            float: left;
            width: 40%
        }

        &.after {
             float: right;
             width: 40%
            }
    }
}

h1,
h2,
h6 {
    color: rgb(252, 56, 56);
}

h1 {
    text-align: center
}

h6 {
    text-align: center;
    font-size: 2em;
    padding: $p2 * 2;
    margin-bottom: 0px
}


.success {
    border: 1px solid #ccc;
    padding: 10px;
    color: #2748B3;
    width: 100%;
    background-color: green;
}

.error {
    @extend .success;
    background-color: red;
}

.warning {
    @extend .success;
    background-color: orange;
}
